= form_for transaction_action, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :action, :class => 'control-label'
    .controls
      = f.text_field :action, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), acts_as_loggable_transaction_actions_path, :class => 'btn'
