- model_class = ActsAsLoggable::TransactionAction.new.class
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:action)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - transaction_actions.each do |transaction_action|
      %tr
        %td= link_to transaction_action.id, acts_as_loggable_transaction_action_path(transaction_action)
        %td= transaction_action.action
        %td=l transaction_action.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_acts_as_loggable_transaction_action_path(transaction_action), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), acts_as_loggable_transaction_action_path(transaction_action), :method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_acts_as_loggable_transaction_action_path, :class => 'btn btn-primary'
