%fieldset
  .control-group
    = f.label :addrStreet1, :class => "control-label"
    .controls
      = f.text_field :addrStreet1, :class => "control-label"
  .control-group
    = f.label :addrStreet2, :class => "control-label"
    .controls
      = f.text_field :addrStreet2, :class => "control-label"
  .control-group
    = f.label :addrCity, :class => "control-label"
    .controls
      = f.text_field :addrCity, :class => "control-label"
  .control-group
    = f.label :addrState, :class => "control-label"
    .controls
      = f.text_field :addrState, :class => "control-label"
  .control-group
    = f.label :addrZip, :class => "control-label"
    .controls
      = f.text_field :addrZip, :class => "control-label"
  .control-group
    = f.label :phone, :class => "control-label"
    .controls
      = f.text_field :phone, :class => "control-label"
