%fieldset
  = f.label :addrStreet1
  %br/
  = f.text_field :addrStreet1
  %br/
  = f.label :addrStreet2
  %br/
  = f.text_field :addrStreet2
  %br/
  = f.label :addrCity
  %br/
  = f.text_field :addrCity
  %br/
  = f.label :addrState
  %br/
  = f.text_field :addrState
  %br/
  = f.label :addrZip
  %br/
  = f.text_field :addrZip
  %br/
  = f.label :phone
  %br/
  = f.text_field :phone
