= form_for @user, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :email, :class => 'control-label'
    .controls
      = f.text_field :email, :class => 'text_field'
  .control-group
    = f.label :encrypted_password, :class => 'control-label'
    .controls
      = f.text_field :encrypted_password, :class => 'text_field'
  .control-group
    = f.label :reset_password_token, :class => 'control-label'
    .controls
      = f.text_field :reset_password_token, :class => 'text_field'
  .control-group
    = f.label :reset_password_sent_at, :class => 'control-label'
    .controls
      = f.datetime_select :reset_password_sent_at, :class => 'datetime_select'
  .control-group
    = f.label :remember_created_at, :class => 'control-label'
    .controls
      = f.datetime_select :remember_created_at, :class => 'datetime_select'
  .control-group
    = f.label :sign_in_count, :class => 'control-label'
    .controls
      = f.number_field :sign_in_count, :class => 'number_field'
  .control-group
    = f.label :current_sign_in_at, :class => 'control-label'
    .controls
      = f.datetime_select :current_sign_in_at, :class => 'datetime_select'
  .control-group
    = f.label :last_sign_in_at, :class => 'control-label'
    .controls
      = f.datetime_select :last_sign_in_at, :class => 'datetime_select'
  .control-group
    = f.label :current_sign_in_ip, :class => 'control-label'
    .controls
      = f.text_field :current_sign_in_ip, :class => 'text_field'
  .control-group
    = f.label :last_sign_in_ip, :class => 'control-label'
    .controls
      = f.text_field :last_sign_in_ip, :class => 'text_field'
  .control-group
    = f.label :failed_attempts, :class => 'control-label'
    .controls
      = f.number_field :failed_attempts, :class => 'number_field'
  .control-group
    = f.label :unlock_token, :class => 'control-label'
    .controls
      = f.text_field :unlock_token, :class => 'text_field'
  .control-group
    = f.label :locked_at, :class => 'control-label'
    .controls
      = f.datetime_select :locked_at, :class => 'datetime_select'
  .control-group
    = f.label :first_name, :class => 'control-label'
    .controls
      = f.text_field :first_name, :class => 'text_field'
  .control-group
    = f.label :last_name, :class => 'control-label'
    .controls
      = f.text_field :last_name, :class => 'text_field'
  .control-group
    = f.label :nickname, :class => 'control-label'
    .controls
      = f.text_field :nickname, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), users_path, :class => 'btn'
