- model_class = BikeModel.new.class
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:model)
      %th= model_class.human_attribute_name(:bike_brand_id)
  %tbody
    - bike_models.each do |bike_model|
      %tr
        %td= link_to bike_model.id, bike_model_path(bike_model)
        %td= bike_model.model
        %td= link_to bike_model.brand, bike_brand_path(bike_model.brand)
= will_paginate bike_models
= link_to t('.new', :default => t("helpers.links.new")), new_bike_model_path, :class => 'btn btn-primary'
