- model_class = BikeBrand.new.class
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:brand)
  %tbody
    - bike_brands.each do |bike_brand|
      %tr
        %td= link_to bike_brand.id, bike_brand_path(bike_brand)
        %td= link_to bike_brand.brand, bike_brand_path(bike_brand)
= will_paginate bike_brands
= link_to t('.new', :default => t("helpers.links.new")), new_bike_brand_path, :class => 'btn btn-primary'
