- model_class = bike_brand.class
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:brand) + ':'
  %br
  = bike_brand.brand

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:model)
  %tbody
    - bike_brand.models.each do |bike_model|
      %tr
        %td= link_to bike_model.id, bike_model_path(bike_model)
        %td= link_to bike_model, bike_model_path(bike_model)

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), bike_brands_path, :class => 'btn'
