- model_class = bike.class
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:serial_number) + ':'
  %br
  = bike.serial_number
%p
  %strong= model_class.human_attribute_name(:bike_brand_id) + ':'
  %br
  = bike.brand
%p
  %strong= model_class.human_attribute_name(:bike_model_id) + ':'
  %br
  = bike.model
%p
  %strong= model_class.human_attribute_name(:color) + ':'
  %br
  = bike.color
%p
  %strong= model_class.human_attribute_name(:bike_style_id) + ':'
  %br
  = bike.style
%p
  %strong= model_class.human_attribute_name(:seat_tube_height) + ':'
  %br
  = bike.seat_tube_height
%p
  %strong= model_class.human_attribute_name(:top_tube_length) + ':'
  %br
  = bike.top_tube_length
%p
  %strong= model_class.human_attribute_name(:wheel_size) + ':'
  %br
  = bike.wheel_size
%p
  %strong= model_class.human_attribute_name(:value) + ':'
  %br
  = bike.value
%p
  %strong= model_class.human_attribute_name(:bike_condition_id) + ':'
  %br
  = bike.condition
%p
  %strong= model_class.human_attribute_name(:bike_status_id) + ':'
  %br
  = bike.status

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), bikes_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_bike_path(bike), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), bike_path(bike), :method => "delete", :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-danger'
