<%= stylesheet_link_tag "bootstrap", :media => "all" %>
<%= stylesheet_link_tag "application", :media => "all" %>
<div class="container">
  <%= image_tag 'velo_logo.png' %>
  <p><a href="http://madewithloveinbaltimore.org" class="made">Made with &hearts; in Baltimore</a></p>
  <br>
  <br>
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="form-group">
          <%= f.text_field :username, placeholder: "Username", class: "form-control input-lg", autofocus: true %>
        </div>

        <div class="form-group">
          <%= f.password_field :password, placeholder: "Password", class: "form-control input-lg" %>
        </div>

        <div class="form-group remember">
        <% if devise_mapping.rememberable? -%>
            <label>
              <%= f.check_box :remember_me, class: 'check_box' %> Remember Me
            </label>
        <% end -%>
        </div>
      </div> <!-- end column -->
    </div> <!-- end row -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="form-group">
          <p>
          <%= f.submit "Sign in", class:"btn btn-lg btn-primary col-xs-12 col-sm-12 col-md-12" %>
          </p>
        </div>
      </div> <!-- end column -->
    </div> <!-- end row -->
  <% end %>

  <%= render "links" %>

  <% if Rails.env.development? %>
    <p>
    <% User.all.each do |user| %>
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <%= f.hidden_field :username, :value => user.username%>
        <%= f.hidden_field :password, :value => 'password' %>
        <%= f.submit "Sign in as #{user.username}", class:"btn btn-info" %>
      <% end %>
    <% end %>
    </p>
  <% end %>
</div>