%h1 Velocipede
%p= link_to 'Made with &hearts; in Baltimore'.html_safe, 'http://madewithloveinbaltimore.org'

.row
  .col-xs-12.col-sm-6.col-lg-4
    = form_for resource, as: resource_name, url: session_path(resource_name) do |f|

      %fieldset
        .form-group
          = f.text_field :username, placeholder: 'Username', class: 'form-control'

        .form-group
          = f.password_field :password, placeholder: 'Password', class: 'form-control'

        - if devise_mapping.rememberable?
          .form-group
            .checkbox
              = f.label :remember_me do
                = f.check_box :remember_me
                Remember Me

        .form-group
          .pull-left
            = f.submit 'Sign in', class: 'btn btn-primary'

          .pull-right
            %span.btn-group
              = f.button 'Check in', id: 'checkin', name: 'checkin', type: 'button', class: 'btn btn-success'
              = f.button 'Check out', id: 'checkout', name: 'checkout', type: 'button', class: 'btn btn-danger'

          .clearfix

    = render 'links'

    - if Rails.env.development?
      %hr
        - User.all.each do |user|
          = form_for resource, as: resource_name, url: session_path(resource_name) do |f|
            = f.hidden_field :username, value: user.username
            = f.hidden_field :password, value: 'password'
            %p= f.submit "Sign in as #{user.username}", class: 'btn btn-sm btn-info'