<%= stylesheet_link_tag "bootstrap_and_overrides", :media => "all" %>

<h2>Velocipede</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :username%><br />
    <%= f.text_field :username%></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in" %></div>

  <div id="checkin_menu"style="display:none;">
    <input id="checkin" name="checkin" type="button" value="CHECK IN">
    <input id="checkout" name="checkout" type="button" value="CHECK OUT">
  </div>
<% end %>



<%= render "links" %>

<% if Rails.env.development? %>
  <% User.all.each do |user| %>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <%= f.hidden_field :username, :value => user.username%></div>
      <%= f.hidden_field :password, :value => 'password' %></div>
      <div><%= f.submit "Sign in as #{user.username}" %></div>
    <% end %>
  <% end %>
<% end %>

