= form_for bike_style, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :style, :class => 'control-label'
    .controls
      = f.text_field :style, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), bike_styles_path, :class => 'btn'
