= top_menu link_to_dashboard

%h1 Task List

%h3
  = link_to bike_path(@task_list.item) do
    #{@task_list.item.shop_id}: #{@task_list.item.bike_brand}

%h4= @task_list.item.model

%fieldset
  .form-group
    - @task_list.tasks.each do |task|
      .checkbox
        %label
          = check_box_tag nil, nil, task.done, class: 'task_list_task', type: 'checkbox', data: {id: task.id}
          = task.task

  .form-group
    = button_tag 'Save Changes', id: 'update_tasks_submit', class: 'btn btn-primary disabled', data: {url: api_update_task_path}
