!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title= content_for?(:title) ? yield(:title) : "Velocipede"
    = load_netzke
    = csrf_meta_tags
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    :css
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }

  %body
    .container

      .content
        - if flash[:notice]
          %p{:class => 'notice'}= flash[:notice]
        - if flash[:alert]
          %p{:class => 'alert'}= flash[:alert]
        .row
          .span13
            = yield

      %footer
        %p &copy; Velocipede 2013

    = javascript_include_tag "application"
    = javascript_include_tag params[:controller] 
