!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}/
    %meta{name: 'viewport', content: 'width=device-width', "initial-scale": '1.0'}
    %title= content_for?(:title) ? yield(:title) : 'Velocipede'
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    /[if lt IE 9]
      = javascript_include_tag 'http://html5shim.googlecode.com/svn/trunk/html5.js'

  %body
    .container

      .content
        - if flash[:notice]
          %p{class: 'notice'}= flash[:notice]
        - if flash[:alert]
          %p{class: 'alert'}= flash[:alert]
        .row
          .span12
            = yield

      %footer
        %p &copy; BikeShed #{Time.now.year}

    = javascript_include_tag 'application'
    = javascript_include_tag params[:controller] 
