!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title= content_for?(:title) ? yield(:title) : "Velocipede"
    = load_netzke
    = csrf_meta_tags
  %body
    = yield
    = javascript_include_tag "application"
    = javascript_include_tag params[:controller] 
